<table>
    <tr>
        <td><a href="{{site.baseurl}}/MCQpractice">MC</a></td>
        <td><a href="{{site.baseurl}}/unit1">Unit 1</a></td>
        <td><a href="{{site.baseurl}}/unit2">Unit 2</a></td>
        <td><a href="{{site.baseurl}}/unit3">Unit 3</a></td>
        <td><a href="{{site.baseurl}}/unit4">Unit 4</a></td>
        <td><a href="{{site.baseurl}}/unit5">Unit 5</a></td>
        <td><a href="{{site.baseurl}}/unit6">Unit 6</a></td>
        <td><a href="{{site.baseurl}}/unit7">Unit 7</a></td>
        <td><a href="{{site.baseurl}}/unit8">Unit 8</a></td>
        <td><a href="{{site.baseurl}}/unit9">Unit 9</a></td>
        <td><a href="{{site.baseurl}}/unit10">Unit 10</a></td>
    </tr>
</table>